body {
  text-align: center;
}

header {
  padding: 30px;
  background: #7868e6;
  color: white;
}

h1 {
  font-weight: bold;
  font-size: 60px;
  margin: 30px;
}

header p {
  font-size: 30px;
}

input {
  border: 0.5px grey solid;
  width: 400px;
  height: 40px;
  line-height: 40px;
  font-size: 30px;
  border-radius: 15px;
  margin-top: 20px;
  outline: none;
}

#get-weather-button {
  display: block;
  margin: 20px auto 30px auto;
  width: 90px;
  height: 35px;
  font-size: 20px;
  border-radius: 5px;
  border: 0.5px grey solid;
  outline: none;
}

#weather-container {
  background: #b8b5ff;
  width: 500px;
  margin: 0 auto 0 auto;
  border-radius: 15px;
}

.weather-info-para {
  padding: 10px;
  font-size: 40px;
}

.clear {
  background-image: url('img/sun.png');
  background-repeat: repeat;
}

.rain,
.drizzle {
  background-image: url('img/rain.png');
  background-repeat: repeat;
}

.thunderstorm {
  background-image: url('img/thunderstorm.png');
  background-repeat: repeat;
}

.clouds {
  background-image: url('img/clouds.png');
  background-repeat: repeat;
}

.snow {
  background-image: url('img/snow.png');
  background-repeat: repeat;
}

button:hover {
  cursor: pointer;
}
